
@keyframes logoAnimation {
  0% {fill: var(--stedi-blue)}
  25% {fill: var(--stedi-green)}
  50% {fill: var(--stedi-magenta)}
  75% {fill: var(--stedi-green)}
  100% {fill: var(--stedi-blue)}
}

.logo {
  background-color: white;
  z-index: 2;
}

.logo:hover {
  fill: var(--stedi-green);
  animation-duration: 1s;
  animation-name: logoAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
